.vscode/**
.vscode-test/**
build/**
src/**
lang/**
node_modules/**
dist/extension.js.map
dist/extension.js.LICENSE.txt
.gitignore
DOC.md
patches
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
doc.km
*-lock.yaml
*.vsix